In [3]:
import pandas as pd
df = pd.read_csv("P05.csv")

In [4]:
# Subsoal 1

df['city'].value_counts()

city
Sao Paulo         4273
Rio de Janeiro    1394
Porto Alegre       999
Belo Horizonte     916
Campinas           649
Name: count, dtype: int64

In [5]:
# Subsoal 2

df['fire_insurance'].mean()

46.45535171911068

In [6]:
# Subsoal 3

df.sort_values(["area"], ascending=[False])[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
1810,Belo Horizonte,46335,4,8,5,11,acept,furnished,960,8500,646,114,10220
4567,Sao Paulo,24606,5,4,4,12,acept,not furnished,2254,8100,7859,103,18320
7114,Campinas,12732,3,2,0,3,acept,not furnished,700,1600,96,21,2417
6757,Belo Horizonte,2000,3,3,2,2,acept,furnished,3000,5000,200,67,8267
930,Sao Paulo,1000,4,7,4,10,acept,furnished,6000,15000,4900,191,26090

In [7]:
# Subsoal 4

len(df.loc[df['furniture'] == 'furnished'])

2252

In [8]:
# Subsoal 5

print(df["homeowner_tax"].corr(df["property_tax"]))

0.007914200947346692

Nilai koefisien korelasi antara nilai fisika dan nilai kimia mendekati 0, sehingga a pajak tanah dan pajak bangunan per tahun tidak memiliki korelasi positif