In [2]:
import pandas as pd
df = pd.read_csv('P05.csv')

In [3]:
# Subsoal 1

len(df.loc[(df['city'] == "Porto Alegre") & (df['parking_spaces'] > 3)])

9

In [4]:
# Subsoal 2

imin = df["fire_insurance"].min()        
df.loc[df['fire_insurance'] == imin]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
6225,Campinas,50,1,1,0,8,acept,not furnished,300,550,0,3,853
7162,Campinas,40,1,2,1,7,acept,not furnished,550,807,43,3,1403

In [5]:
# Subsoal 3

len(df.loc[((df['animal'] == 'acept')) & (df['rent_amount'] < (df['rent_amount'].mean()))])

4284

In [6]:
# Subsoal 4

df[df['parking_spaces'] == 0]['city'].value_counts()

city
Sao Paulo         800
Rio de Janeiro    619
Porto Alegre      381
Campinas          124
Belo Horizonte    121
Name: count, dtype: int64

In [7]:
# Subsoal 5

df[df['animal'] == 'not acept'].sort_values(["property_tax"], ascending=[False])[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
5114,Sao Paulo,42,1,2,1,6,not acept,not furnished,690,2500,313700,32,316900
4105,Sao Paulo,300,4,5,5,6,not acept,not furnished,3500,1990,10830,26,16350
5737,Rio de Janeiro,170,3,1,1,10,not acept,not furnished,2888,5000,5404,65,13360
3063,Sao Paulo,500,4,7,6,5,not acept,not furnished,5400,5000,4000,64,14460
832,Sao Paulo,130,3,2,2,15,not acept,not furnished,1400,6200,4000,79,11680